@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Karla';
  src: url('assets/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: 'Karla', "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1500px;
  padding: 5rem;
  width: 100%;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #2f2f2f;
  background-color: #f9fafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #000;
  font-family: Karla;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2{
  all:unset;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: left;
  color: #000;
}

h3{
  all:unset;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 2rem;
  color: rgb(0, 0, 0);
  text-align: left;
}
h4{
  all:unset;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgb(17, 17, 17);
  text-align: left;
}


button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
}
button:hover {
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.caruselItem{
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  background-color: #F4F4F4;
}

.bShadow{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bShadow2{
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.10);
  border-radius: 16px;
}


/* Chart */
.tooltipSet{
  border-radius: 10px;
  border: 1px solid #D6D6D6;
  background: #FFF;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  padding:15px;
}
.recharts-cartesian-grid-horizontal line:last-child {
  visibility: hidden;
}
.recharts-cartesian-grid-horizontal line:nth-child(6){
  visibility: hidden;
}

.tooltipSet:after {
  content: "";
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%); 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white; 
}
.tooltipSet {
  position: relative;
}